@charset "UTF-8";
:root {
  --primary: #333;
  --secondary: #6377f3;
  --accent: #8a8e69;
  --link: #fff;
  --shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Josh's Custom CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

html {
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
}

body {
  position: relative;
  background: var(--background);
  color: var(--text);
  font-size: 14px;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
@media (max-width: 768px) {
  body {
    font-size: 3.646vw;
  }
}

a {
  text-decoration: none;
}
a:focus {
  outline: none;
}

*:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}

.o-spHide {
  display: block !important;
}

@media (max-width: 768px) {
  .o-spHide {
    display: none !important;
  }
}
.o-pcHide {
  display: none !important;
}

@media (max-width: 768px) {
  .o-pcHide {
    display: block !important;
  }
}
body {
  background-image: url("images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 66.51vw;
  max-width: 100vw;
  aspect-ratio: 1.504;
  background-attachment: fixed;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  body {
    background-image: url("images/bg_sp.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 48.828vw;
    height: 86.849vw;
    max-width: 100vw;
    aspect-ratio: 0.562;
    background-position: 0 0;
    width: 100vw;
    height: auto;
  }
}

.flower-container {
  position: fixed;
  top: 0;
  left: 34.896vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
@media (max-width: 768px) {
  .flower-container {
    left: 0;
  }
}

.flower {
  position: absolute;
  background: url("/images/flower.svg") no-repeat center center;
  width: 120px;
  height: 120px;
  background-size: contain;
  opacity: 0;
  transform-origin: center center;
  animation-name: fall-and-rotate;
  animation-iteration-count: infinite;
}
@media (max-width: 768px) {
  .flower {
    width: 15.625vw;
    height: 15.625vw;
  }
}

@keyframes fall-and-rotate {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg); /* 落下と回転 */
    opacity: 0;
  }
}
header {
  position: relative;
  width: 100vw;
  height: auto;
}
header h1 {
  position: fixed;
  bottom: 5.208vw;
  right: 5.208vw;
  z-index: 0;
  background-image: url("images/title.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 29.167vw;
  height: 21.875vw;
  max-width: 100vw;
  aspect-ratio: 1.333;
  font: 0/0 a;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 768px) {
  header h1 {
    bottom: 10.417vw;
    right: 5.208vw;
    background-image: url("images/title.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 36.458vw;
    height: 27.344vw;
    max-width: 100vw;
    aspect-ratio: 1.333;
    width: 60%;
    height: auto;
  }
}

main {
  position: relative;
  width: 42.708vw;
  min-height: 100vh;
  padding: 4.167vw 0 0 7.813vw;
  z-index: 1;
}
@media (max-width: 768px) {
  main {
    width: 100vw;
    padding: 10.417vw 10.417vw 48.177vw;
    overflow-x: hidden;
  }
}
main h2 {
  margin-bottom: 1.042vw;
  font-size: 1.875vw;
  font-weight: 600;
}
@media (max-width: 768px) {
  main h2 {
    margin-bottom: 2.604vw;
    font-size: 5.208vw;
  }
}
main .lead {
  margin-bottom: 2.083vw;
  font-size: 1.042vw;
  line-height: 1.6;
}
@media (max-width: 768px) {
  main .lead {
    margin-bottom: 10.417vw;
    font-size: 3.125vw;
    line-height: 1.4;
  }
}
main li {
  position: relative;
  width: 24.74vw;
  height: 12.865vw;
  margin: 0 0 5.208vw;
  padding: 0;
  color: var(--text);
  text-align: left;
  line-height: 1.4;
  z-index: 10;
}
@media (max-width: 768px) {
  main li {
    width: 100%;
    height: auto;
    margin: 0 0 10.417vw;
  }
}
main li a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--link);
  transition: all 0.2s ease-in-out;
}
main li a::before {
  content: "";
  position: absolute;
  top: 11.458vw;
  left: 0;
  width: 19.479vw;
  height: 4.167vw;
  background-color: #000;
  opacity: 0.6;
}
@media (max-width: 768px) {
  main li a::before {
    top: 23.438vw;
    left: auto;
    right: -10.417vw;
    width: 53.385vw;
    height: 10.417vw;
  }
}
main li .tit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 11.458vw;
  left: 0;
  width: 19.479vw;
  height: 4.167vw;
  padding-left: 1em;
  font-size: 1.042vw;
  font-weight: 400;
}
@media (max-width: 768px) {
  main li .tit {
    top: 23.438vw;
    left: 27.344vw;
    width: 48.698vw;
    height: 10.417vw;
    padding: 0;
    font-size: 3.125vw;
    text-align: right;
  }
}
main li .tit small {
  font-weight: 200;
}
main li:nth-child(1) {
  background-image: url("images/pic_ss01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(1) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(1):hover {
  opacity: 0.6;
}
main li:nth-child(2) {
  background-image: url("images/pic_ss02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(2) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(2):hover {
  opacity: 0.6;
}
main li:nth-child(3) {
  background-image: url("images/pic_ss03.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(3) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(3):hover {
  opacity: 0.6;
}
main li:nth-child(4) {
  background-image: url("images/pic_ss04.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(4) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(4):hover {
  opacity: 0.6;
}
main li:nth-child(5) {
  background-image: url("images/pic_ss05.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(5) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(5):hover {
  opacity: 0.6;
}
main li:nth-child(6) {
  background-image: url("images/pic_ss06.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98.958vw;
  height: 51.563vw;
  max-width: 100vw;
  aspect-ratio: 1.919;
  width: 24.74vw;
  height: 12.865vw;
}
@media (max-width: 768px) {
  main li:nth-child(6) {
    width: 69.01vw;
    height: auto;
  }
}
main li:nth-child(6):hover {
  opacity: 0.6;
}
main li:nth-child(even) {
  left: 11.198vw;
}
main li:nth-child(even) a::before {
  left: auto;
  right: 0;
}
main li:nth-child(even) .tit {
  left: 5.208vw;
}
@media (max-width: 768px) {
  main li:nth-child(even) {
    left: 0;
  }
  main li:nth-child(even) a::before {
    left: auto;
    right: -10.417vw;
  }
  main li:nth-child(even) .tit {
    left: 27.344vw;
  }
}

footer {
  padding-bottom: 1em;
  text-align: center;
}
footer small {
  color: #fff;
  font-weight: 200;
}
@media (max-width: 768px) {
  footer {
    position: fixed;
    bottom: 2.604vw;
    width: 100vw;
    padding: 0;
  }
}
