// color variables
:root {
  --primary-color: #54143f;
  --secondary-color: #a15778;
  --background-color: #fff;
  --background-color2: #6377f3;
  --text-color: #6f5329;
  --accent-color: #8a8e69;
  --link-color: #2992e2;
}

// media query breakpoints
$break-sp: 768px;
$break-tb: 1200px;
$break-pc: 2000px;

$rateS: 768;
$rateM: 1200;
$rateL: 2000;


