// color variables
:root {
  --primary: #333;
  --secondary: #6377f3;
  --accent: #8a8e69;
  --link: #fff;
  --shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

// media query breakpoints
$break-sp: 768px;
$break-tb: 1200px;
$break-pc: 1920px;

$rateS: 768;
$rateM: 1200;
$rateL: 1920;


