@use "variables" as *; // @useルールを一番上に移動
@use "mixins" as *;    // 複数の@useルールも一番上にまとめて記述
@use "reset";



// グローバルスタイル
html {
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
}

body {
  position: relative;
  background: var(--background);
  color: var(--text);
  font-size: 14px;
  font-family: 'Noto Sans JP', "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  // @media (max-width: $break-tb) {
  //   font-size: rate(28, $rateM);
  // }
  @media (max-width: $break-sp) {
    font-size: rate(28, $rateS);
  }
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}

.o-spHide {
  display: block !important;
}

@media (max-width: $break-sp) {
  .o-spHide {
    display: none !important;
  }
}

.o-pcHide {
  display: none !important;
}

@media (max-width: $break-sp) {
  .o-pcHide {
    display: block !important;
  }
}


// 背景画像
body {
  @include rsp_bg_img("bg.jpg");
  background-attachment: fixed;
  overflow-x: hidden;
  // @media (max-width: $break-tb) {
  //   @include rsp_bg_img("bg.jpg", $rateM);
  // }
  @media (max-width: $break-sp) {
    background: none;
    // @include rsp_bg_img("bg_sp.jpg", $rateS);
    // background-position: 0 0;
    width: 100vw;
    height: auto;
  }
}

// 背景アニメーション
//-------------------------------
.flower-container {
  position: fixed;
  top: 0;
  left: rate(670, $rateL);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  // @media (max-width: $break-tb) {
  //   left: rate(670, $rateM);
  // }
  @media (max-width: $break-sp) {
    left: 0;
  }
}

.flower {
  position: absolute;
  background: url("/images/flower.svg") no-repeat center center;
  width: 120px;
  height: 120px;
  background-size: contain;
  opacity: 0;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: center center;
  @media (max-width: $break-sp) {
    width: rate(120, $rateS);
    height: rate(120, $rateS);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg); /* 落下と回転 */
    opacity: 0;
  }
}

// header
//-------------------------------
header {

  @media(max-width: $break-sp) {
    position: fixed;
    top: 0;
    left: 0;
    @include rsp_bg_img("bg_sp.jpg", $rateS);
    background-position: 0 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  h1 {
    position: fixed;
    bottom: rate(100, $rateL);
    right: rate(100, $rateL);
    z-index: 0;
    @include rsp_bg_img("title.svg", $rateL, true);
    // @media (max-width: $break-tb) {
    //   bottom: rate(100, $rateM);
    //   right: rate(100, $rateM);
    //   @include rsp_bg_img("title.svg", $rateM);
    // }
    @media (max-width: $break-sp) {
      bottom: rate(80, $rateS);
      right: rate(40, $rateS);
      @include rsp_bg_img("title.svg", $rateS);
      width: 60%;
      height: auto;
    }
  }
}


// main
//-------------------------------
main {
  position: relative;
  width: rate(820, $rateL);
  min-height: 100vh;
  padding: rate(80, $rateL) 0 0 rate(150, $rateL);
  // @media (max-width: $break-tb) {
  //   width: rate(800, $rateM);
  //   padding: rate(80, $rateM) 0 0 rate(130, $rateM);
  // }
  z-index: 1;
  @media (max-width: $break-sp) {
    width: 100vw;
    padding: rate(80, $rateS) rate(80, $rateS) rate(370, $rateS);
    overflow-x: hidden;
  }

  h2 {
    margin-bottom: rate(20, $rateL);
    font-size: rate(36, $rateL);
    font-weight: 600;
    // @media (max-width: $break-tb) {
    //   margin-bottom: rate(20, $rateM);
    //   font-size: rate(36, $rateM);
    // }
    @media (max-width: $break-sp) {
      margin-bottom: rate(20, $rateS);
      font-size: rate(40, $rateS);
    }
  }
  .lead {
    margin-bottom: rate(40, $rateL);
    font-size: rate(20, $rateL);
    line-height: 1.6;
    // @media (max-width: $break-tb) {
    //   margin-bottom: rate(40, $rateM);
    //   font-size: rate(20, $rateM);
    // }
    @media (max-width: $break-sp) {
      margin-bottom: rate(80, $rateS);
      font-size: rate(24, $rateS);
      line-height: 1.4;
    }
  }

  li {
    position: relative;
    width: rate(475, $rateL);
    height: rate(247, $rateL);
    margin: 0 0 rate(100, $rateL);
    padding: 0;
    color: var(--text);
    text-align: left;
    line-height: 1.4;
    z-index: 10;
    // @media (max-width: $break-tb) {
    //   width: rate(475, $rateM);
    //   height: rate(247, $rateM);
    //   margin: 0 0 rate(100, $rateM);
    // }
    @media (max-width: $break-sp) {
      width: 100%;
      height: auto;
      margin: 0 0 rate(80, $rateS);
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      color: var(--link);
      transition: all 0.2s ease-in-out;
      
      &::before {
        content: "";
        position: absolute;
        top: rate(220, $rateL);
        left: 0;
        width: rate(374, $rateL);
        height: rate(80, $rateL);
        background-color: #000;
        opacity: 0.6;
        // @media (max-width: $break-tb) {
        //   top: rate(220, $rateM);
        //   width: rate(374, $rateM);
        //   height: rate(80, $rateM);
        // }
        @media (max-width: $break-sp) {
          top: rate(180, $rateS);
          left: auto;
          right: rate(-80, $rateS);
          width: rate(410, $rateS);
          height: rate(80, $rateS);
        }
      }
    } 
    
    .tit {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: rate(220, $rateL);
      left: 0;
      width: rate(374, $rateL);
      height: rate(80, $rateL);
      padding-left: 1em;
      font-size: rate(20, $rateL);
      font-weight: 400;
      // @media (max-width: $break-tb) {
      //   top: rate(220, $rateM);
      //   width: rate(374, $rateM);
      //   height: rate(80, $rateM);
      //   font-size: rate(20, $rateM);
      // }
      @media (max-width: $break-sp) {
        top: rate(180, $rateS);
        left: rate(210, $rateS);
        width: rate(374, $rateS);
        height: rate(80, $rateS);
        padding: 0;
        font-size: rate(24, $rateS);
        text-align: right;
      }

      small {
        font-weight: 200;
      }
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        @include rsp_bg_img('pic_ss0#{$i}.jpg');
        width: rate(475, $rateL);
        height: rate(247, $rateL);
        // @media (max-width: $break-tb) {
        //   width: rate(475, $rateM);
        //   height: rate(247, $rateM);
        // }
        @media (max-width: $break-sp) {
          width: rate(530, $rateS);
          height: auto;
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }

    &:nth-child(even) {
      left: rate(215, $rateL);
      a::before {
        left: auto;
        right: 0;
      }
      .tit {
        left: rate(100, $rateL);
      }
      // @media (max-width: $break-tb) {
      //   left: rate(195, $rateM);
      //   .tit {
      //     left: rate(100, $rateM);
      //   }
      // }
      @media (max-width: $break-sp) {
        left: 0;
        a::before {
          left: auto;
          right: rate(-80, $rateS);
        }
        .tit {
        left: rate(210, $rateS);
        }
      }
    }
  }


}

footer {
  padding-bottom: 1em;
  text-align: center;
  small {
    color: #fff;
    font-weight: 200;
  }
  @media (max-width: $break-sp) {
    position: fixed;
    bottom: rate(20, $rateS);
    width: 100vw;
    padding: 0;
  }
}

